@font-face {
	font-family: 'Circular';
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Book.eot');
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Book.eot?#iefix') format('embedded-opentype'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Book.woff') format('woff'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Book.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Circular';
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot');
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff') format('woff'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Circular';
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Black.eot');
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Black.eot?#iefix') format('embedded-opentype'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Black.woff') format('woff'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Geomanist';
	src: url('//www.bu.edu/cdn/fonts/Geomanist-Light-Webfont/geomanist-light-webfont.eot');
	src: url('//www.bu.edu/cdn/fonts/Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('//www.bu.edu/cdn/fonts/Geomanist-Light-Webfont/geomanist-light-webfont.woff2') format('woff2'),
		url('//www.bu.edu/cdn/fonts/Geomanist-Light-Webfont/geomanist-light-webfont.woff') format('woff'),
		url('//www.bu.edu/cdn/fonts/Geomanist-Light-Webfont/geomanist-light-webfont.ttf') format('truetype'),
		url('//www.bu.edu/cdn/fonts/Geomanist-Light-Webfont/geomanist-light-webfont.svg#geomanistregular') format('svg');
	font-weight: 300;
	font-style: normal;
}

:root {
	--background-color: #1db954;
	--font-family: 'Circular';
}

/* .album-page {
    display:flex;
} */

.artist-page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: fit-content;
}

.artist-page-wrapper > * {
	padding: 20px;
}

.artist-page {
	display: flex;
	flex-grow: 1;
}

/* SIDEBAR SECTION SIDEBAR */

.sidebar {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 0%;
	background-color: rgb(0, 0, 0);
	transition: 0.5s;
	flex-grow: 1;
}

.sidebar-btn:hover p {
	color: white;
}

.sidebar-nav {
	height: calc(100% - 1.5rem - 10vh);
	margin-top: 10%;
	margin-left: 0;
	padding: 0;
	position: relative;
	display: flex;
}

.sidebar-nav li {
	list-style-type: none;
	margin-bottom: 0.2rem;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.sidebar-btn {
	padding-left: 0%;
	padding-left: 0%;
	background: transparent;
	font-family: 'Circular';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.sidebar-btn svg {
	margin-right: 9%;
}

.sidebar-btn p {
	margin-bottom: 0px;
	color: rgb(165, 165, 165);
}

.sidebar-toggle {
	background-color: none;
	width: 1rem;
	height: 6%;
	position: absolute;
	margin-left: 100%;
	margin-top: 40vh;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: start;
}

.sidebar-toggle button {
	height: 100%;
	width: 100%;
	padding: 0;
	background: none;
	border: none;
}

.sidebar-toggle button svg {
	width: 200%;
	height: 2rem;
	transition: 0.5s;
}

.sidebar-toggle button svg:hover {
	fill: var(--background-color);
	transform: translateX(10px);
	height: 3rem;
}

/* .sidebar-toggle img {
      width: 100%;
      height: 50%;
  } */

/* PROFILE SECTION SIDEBAR */

.profile-section {
	overflow: hidden;
	padding: none;
	width: 100%;
	flex-wrap: wrap;
}
.profile-section .install-app a {
	border-bottom: 1px solid white;
	border-radius: 0;
}

.profile-section profile-meta p {
	color: white;
}

.profile-img {
	/* width: 17%; */
	width: 1.8rem;
	border-radius: 50%;
	margin-right: 9%;
}

/* -------------------------------- */

.main-section {
	background-color: rgb(26, 26, 26);
	height: 100%;
	width: 100%;
	transition: 0.5s;
}

.hero-image {
	background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 1)),
		url('./assets/images/crowd-stock.jpg');

	/* Set a specific height */
	height: 43%;
	width: auto;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	font-family: 'Circular', sans-serif;
	width: 25vw;
	/* text-align: center; */
	/* position: absolute;
  top: 71%;
  left: 49.6%; */
	/* transform: translate(-50%, -50%); */
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* .hero-text .monthly-listeners {
    margin-top: 23%;
    margin-bottom: 2%;
} */

.hero-text .monthly-listeners {
	margin-top: 23%;
	margin-bottom: 1%;
	padding-bottom: 1%;
	color: rgb(228, 228, 228);
	/* margin-right: 4%; */
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
}

.hero-text h1 {
	font-size: 4.4rem;
	font-weight: 900;
	margin-right: 4%;
}

.hero-text p {
	font-family: 'Circula';
	font-size: 0.7rem;
	font-weight: 300;
	letter-spacing: 2px;
	color: rgba(206, 206, 206, 0);
}

.hero-text .btn-box {
	width: 75%;
	margin-top: 4%;
	display: flex;
}

.play-btn {
	background-color: var(--background-color);
	font-family: 'Circular';
	color: white;
	font-weight: 400;
	width: 130px;
	text-align: center;
	font-size: 11px;
	letter-spacing: 2px;
	border-radius: 2rem;
	border: none;
	padding-top: 3.2%;
	padding-bottom: 3.2%;
}

.follow-btn {
	background-color: rgba(0, 0, 0, 0.4);
	font-family: 'Circular';
	color: white;
	letter-spacing: 2px;
	font-weight: 400;
	width: 145px;
	text-align: center;
	font-size: 11px;
	border-radius: 2rem;
	padding-top: 3%;
	padding-bottom: 3%;
	border: 2px solid rgb(197, 196, 196);
}

.ellipsis-btn {
	padding: 0;
	font-size: 1rem;
	width: 1.5rem;
}

.ellipsis-btn svg {
	fill: white;
}

.hero-links {
	width: 80%;
	margin-left: 10%;
}
.hero-text h6 {
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 2px;
	padding-bottom: 0.3rem;
	color: rgb(165, 165, 165);
	border-bottom: 2px solid transparent;
	transition: 0.5s;
}

h6:hover {
	color: white;
	/* border-bottom: 2px solid var(--background-color); */
	border-color: var(--background-color);
	cursor: pointer;
	/* transform: translateY(-0.2rem); */
}

/* ------------------------END OF HERO SECTION -----------------*/

.album-section h2 {
	font-family: 'Circular';
	color: white;
	margin-left: 0px;
	margin-top: 0px;
	font-weight: 700;
	font-size: 2.2rem;
	padding-left: 0.4rem;
}

.card {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 2rem;
	border-radius: 0px;
}

.card,
.card-title,
.card-text {
	font-family: 'Circular';
	color: white;
	font-weight: 700;
	text-align: center;
	font-size: 14px;
	/* background-color: transparent; */
	background-color: rgb(26, 26, 26);
	border: none;
}

.card-title {
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

.card-text {
	color: rgb(165, 165, 165);
	font-weight: 400;
}

.card img {
	border-radius: 0px;
}

.card img:hover {
	cursor: pointer;
	transform: translateY(-0.2rem);
}

.sidebar-btn:hover {
	background-color: rgb(92, 92, 92);
}

.play-nav {
	background-color: rgb(26, 26, 26);
	height: 10vh;
	width: 100vw;
	position: sticky;
	border: 1px solid black;

	/*  The above css is rubbish YOU NEED TO MAKE A STICKY NAVBAR TO BOTTOM OF THE SCREEN*/
}

/*  FOOTER CSS */

footer {
	background-color: rgb(26, 26, 26);
	font-size: small;
	height: 10vh;
	position: fixed;
	border-top: 1px solid rgb(53, 53, 53);
	margin-bottom: 0px;
}

input[type='range'] {
	height: 4px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	border-radius: 3px;
	border: none;
}
#volume,
#track-time {
	background: linear-gradient(90deg, #b3b3b3 0%, #b3b3b3 58%, #535353 58%);
}
#track-time {
	width: 75%;
}

input[type='range']::-webkit-slider-runnable-track {
	height: 7px;
	-webkit-appearance: none;
	color: white;
	margin-top: -10px;
	display: none;
}
input[type='range']:hover::-webkit-slider-runnable-track {
	display: block;
	-webkit-appearance: none;
	color: white;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: 0.1rem;
	cursor: pointer;
}

footer a {
	text-decoration: none;
	color: white;
}
footer a:hover {
	color: white;
	text-decoration: underline;
}

input[type='range']:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
