@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Book.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Book.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Book.woff")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Book.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Black.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Black.woff")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Black.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 900;
}
* {
  font-family: "Circular";
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 50px;
  margin-bottom: 10px;
}

.content {
  padding-left: 20vh;
  padding-right: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn:focus {
  outline: none;
}
.btn {
  letter-spacing: 1px;
  width: 400px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px;
  height: 40px;
  margin-bottom: 10px;
}
.fbbutton {
  background-color: #3b5998;
  border-color: transparent;
  transition: 0.25s ease;
}
.fbbutton:hover {
  background-color: #3a61b3;
  border-color: transparent;
}
.applebutton {
  background-color: #000000;
  border-color: transparent;
  transition: 0.25s ease;
  padding: 0;
  border: none;
}
.applebutton:hover {
  background-color: #333;
}
.googlebutton {
  background-color: white;
  border: 2px solid #616467;
  color: #616467;
  margin-bottom: 3px;
  transition: 0.25s ease;
}
.googlebutton:hover {
  color: #fff;
  background-color: #616467;
}

.logbutton {
  background-color: #15883e;
  border-color: transparent;
  width: 200px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 50px;
  border-color: none;
  height: 40px;
  margin-left: 20%;
}
.logbutton:hover {
  background-color: #1db954;
}
.fab {
  font-size: 15px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.form-control {
  width: 400px;
  height: 25px;
  border: 1px solid #e0e0e0;
  margin-bottom: 8px;
  border-radius: 1px;
}
.form-control::placeholder {
  color: #c8c8c8;
}
input:focus {
  outline: none;
}
.greentext {
  color: #15883e;
  margin-bottom: 40px;
}
.container.lines {
  justify-content: center;
  display: flex;
}
.line {
  width: 180px;
  margin-top: 5px;
}
.margin {
  font-weight: bold;
  font-size: 10px !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

.margin2 {
  margin-top: 12px;
}
.line2 {
  width: 430px;
}
.end {
  text-align: center;
  font-size: 10px;
  color: lightgray;
}
em {
  color: #15883e;
}
.checkbox {
  padding-right: 32%;
  margin-top: 20px;
  color: grey;
}
.textsize {
  font-size: 13px;
  margin-bottom: 11px;
}
.textsize2 {
  font-size: 11px;
  margin-bottom: 15px;
}

input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"]:checked + label:before {
  background-color: #15883e;
  border-color: #15883e;
  color: #fff;
}
.container2 {
  display: flex;
  width: 438px;

  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text-fix {
  color: #a8a8a8;
  padding-left: 5px;
  padding-top: 2px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.margin {
  font-size: 13px;
}
@media (max-width: 450px) {
  .container-responsivness {
    width: 90vw;
  }
  .end {
    display: none;
  }
  .googlebutton,
  .fbbutton,
  .applebutton {
    width: 90vw;
  }
  input.form-control {
    width: 89vw;
  }
  .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .container .lines {
    width: 80vw;
  }
  .container2 {
    flex-direction: column;
    width: 80vw;
  }
  .line2 {
    width: 80vw;
  }
  .logo {
    height: 38px;
  }
  .line {
    width: 35vw;
  }
  .logbutton {
    width: 100%;
    margin: 0;
  }
  .fab,
  .invisible {
    visibility: hidden;
  }
}
