@font-face {
	font-family: 'Circular';
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot');
	src: url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff') format('woff'),
		url('https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
body {
	height: 100vh;
	margin: 0;
	font-family: 'Circular', sans-serif, Arial, Helvetica;
	background: rgb(39, 77, 120);
	background: linear-gradient(130deg, rgba(39, 77, 120, 1) 0%, rgba(28, 54, 83, 1) 36%, rgba(8, 15, 23, 1) 100%);

	overflow: hidden;
}
.nav {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	list-style: none;
}

h2.index-headings {
	color: white;
	font-size: 36px;
	font-weight: 800;
}

.nav-link {
	color: white;
	font-weight: 800;
}

.main-content h6 {
	color: white;
	font-size: 10px;
	font-weight: 600px;
}
